.section {
  // .section__services
  &__services {
    overflow: hidden !important;
    padding-top: 100px;
    padding-bottom: 140px;
    @media (max-width: $breakpoint768) {
      padding-top: 55px;
      padding-bottom: 95px;
    }
  }
}
.services {
  // .services__content
  &__content {
  }
  // .services__content-head
  &__content-head {
    margin-bottom: 17px;
    text-align: center;
  }
  // .services__content-title
  &__content-title {
    font-family: $fontMain;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    color: #1a171e;
    margin-bottom: 20px;
    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }
  }
  // .services__content-text
  &__content-text {
    font-family: $fontMain;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #1a171e;
    margin-bottom: 52px;
    text-align: center;
  }
  // .services__swiper-wrapper
  &__swiper-wrapper {
  }
}

.swiper {
  // .swiper__services
  &__services {
    overflow: visible !important;
  }
  // .swiper__slide-text
  &__slide-text {
    display: inline-flex;
    width: max-content;
    padding: 6px 12px;
    font-family: $fontMain;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    border-radius: 300px;
    margin-bottom: 20px;
  }
  // .swiper__slide-title
  &__slide-title {
    font-family: $fontMain;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 16px;
    @media (max-width: $breakpoint575) {
      font-size: 28px;
    }
  }
  // .swiper__slide-link
  &__slide-link {
    display: flex;
    align-items: center;
    // position: absolute;
    bottom: 24px;
    font-family: $fontSecondary;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: auto;

    img {
      margin-left: 12px;
    }
  }
}
.swiper-wrapper {
  align-items: stretch;
}
.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 302px;
  padding: 24px;
  border-radius: 16px;
  height: auto !important;
  &:nth-child(1) {
    background: #29b550;
    .swiper__slide-text {
      background: #34c15c;
    }
  }
  &:nth-child(2) {
    background: #289a6a;
    .swiper__slide-text {
      background: #2aa773;
    }
  }

  &:nth-child(3) {
    background: #289a7f;
    .swiper__slide-text {
      background: #2aa88a;
    }
  }

  &:nth-child(4) {
    background: #289a9a;
    .swiper__slide-text {
      background: #29acac;
    }
  }

  &:nth-child(5) {
    background: #28859a;
    .swiper__slide-text {
      background: #2b96ae;
    }
  }
}
.swiper-pagination {
  bottom: -40px !important;
}

// .swiper__link-box {
//   display: flex;
//   align-items: center;
// }
.swiper-pagination-bullet-active {
  fill: #289a6a !important;
}
